* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to right, #2f8fe9, #02386a);
  box-shadow: 0 4px 6px rgba(4, 17, 27, 0.355);
  padding: 10px 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 120px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Linha superior */
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  left: 22%;
}

.search-bar input[type="text"] {
  padding: 12px 45px 12px 18px; /* mais altura e espaço interno */
  border: none;
  border-radius: 25px;
  background-color: #f0f2f5;
  color: #333;
  font-size: 16px;
  width: 850px; /* aumentada */
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  outline: none;
  transition: all 0.3s ease;
}

.search-bar input[type="text"]:focus {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(32, 117, 178, 0.4);
}

#search-toggle {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  color: #666;
  pointer-events: none;
}

.icons a {
  color: white;
  font-size: 22px;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.icons a:hover {
  color: #ccc;
}

/* Linha inferior */
.nav-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px; /* espaçamento entre logo e os links */

}


nav img {
  width: 95px;
  position: relative;
  bottom: 55px;
  right: 15px;
}


.nav-links {
  display: flex;
  gap: 90px; /* adiciona espaçamento entre os links */
}


.nav-links a {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
  position: relative;
  bottom: -10px;
  left: 25%;
  text-decoration: none;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 6px; /* pode ajustar se quiser mais espaço */
  left: 20px;
  width: 60%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

/* BANNER */
.banner {
  top: 0px;
  margin-top: 60px;
  position: relative;
  background: url('imagens/DNA.webp') no-repeat center center/cover;
  height: 50vh;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}

.text-content {
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.text-content h1 {
  font-size: 2.5em;
  margin: 0;
}

.text-content p {
  font-size: 1.2em;
  margin-top: 10px;
}
